@use "sass:list";
@use "sass:map";
@use "variables" as *;

@mixin respond-to($max-width) {
    $value: map.get($breakpoints, $max-width) - 1;

    @media (max-width: $value) {
        @content;
    }
}

@mixin respond-between($min-width, $max-width) {
    $min-value: map.get($breakpoints, $min-width);
    $max-value: map.get($breakpoints, $max-width) - 1;

    @media (min-width: $min-value) and (max-width: $max-value) {
        @content;
    }
}

@mixin respond-from($min-width) {
    $value: map.get($breakpoints, $min-width);

    @media (min-width: $value) {
        @content;
    }
}