@use "../base/variables" as *;

.searchbar {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      align-items: end; /* alinea bases */
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    @media (min-width: 768px) {
      margin-top: 1.25rem;
    }
  }
}
